:root {
  --dark-bg: #1f2937;
  --white: #f9faf8;
  --grey: #e5e7eb;
  --blue: #3882f6;
  --mid-grey: #1f2937;
}

html {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--dark-bg);
  display: flex;
  padding: 5px 10rem;
  justify-content: space-between;
}
.header-logo {
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}

.nav-item a {
  text-decoration: none;
  font-size: 18px;
  color: var(--grey);
}

/* Hero */

.hero-container {
  background: var(--dark-bg);
}

.hero-contents {
  display: flex;
  gap: 2rem;
  padding: 2rem 10rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.hero-text h2 {
  font-size: 48px;
  font-weight: 800;
  color: var(--white);
}

.hero-text p {
  font-size: 18px;
  color: var(--grey);
}

.sign-up-button {
  cursor: pointer;
  width: fit-content;
  padding: 5px 20px;
  background-color: var(--blue);
  border: 0;
  border-radius: 7px;
  color: var(--white);
}

.hero-image {
}
